html {
	background-color: #123473;
	color: white;
	font-family: monospace;
}

body {
	text-align: center;
	max-width: 66vw;
	margin: auto;
}

a, a:visited, a:disabled, a:hover {
	color: lightblue;
}

.code {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 10px;
	border: 1px solid #404040;
	border-radius: 10px;
	background-color: #404040;
}

.header {
	text-align: right;
}
